.calculator {
    display: flex;
    flex-direction: column;
}

.lower-half {
    display: flex;
}

.operations {
    display: flex;
    flex-direction: column;
}

.values {
    flex-wrap: wrap;
}

button {
    padding: 10px;
}